In [13]:
import requests
import ge_check
import pandas as pd

In [64]:
place = ge_check.get_avail_locations('2022-12-28')
place

,state,city,name,id
0,AK,Fairbanks,Fairbanks Enrollment Center,14381
1,AL,Huntsville,Huntsville Global Entry Enrollment Center,16277
2,AZ,Douglas,Douglas Enrollment Center,8100
3,AZ,NOGALES,"Nogales, AZ",5007
4,AZ,Tucson,Tucson Enrollment Center,9240
5,CA,San Diego,San Diego -Otay Mesa Enrollment Center,5002
6,FL,Miami,Miami International Airport,5181
7,GU,Tamuning,Guam International Airport,9140
8,IA,Des Moines,Des Moines GE Enrollment Center,16461
9,MI,Detroit,Detroit Enrollment Center Global Entry,5023
10,MI,Detroit,Detroit Metro Airport,5320
11,MI,Sault Ste. Marie,Sault Ste Marie Enrollment Center,5080
12,MN,Grand Portage,Grand Portage,9101
13,MN,International Falls,International Falls Global Entry Enrollment Ce...,14181
14,MN,St. Paul,Minneapolis - St. Paul Global Entry EC,6840
15,MN,Warroad,Warroad Enrollment Center,5060
16,MT,Sweetgrass,Sweetgrass Global Entry Enrollment Center,16251
17,NJ,Newark,Newark Liberty Intl Airport,5444
18,NV,Las Vegas,Las Vegas Enrollment Center,5360
19,TX,Del Rio,Del Rio Enrollment Center,16460
20,TX,Eagle Pass,Eagle Pass,16226
21,TX,Laredo,Laredo Enrollment Center,5004
22,TX,Mission,Hidalgo Enrollment Center,5001
23,WA,Blaine,Blaine Global Entry Enrollment Center,13321

In [10]:
time = requests.get('https://ttp.cbp.dhs.gov/schedulerapi/slots?orderBy=soonest&locationId=5360&minimum=1')

In [12]:
time2 = requests.get('https://ttp.cbp.dhs.gov/schedulerapi/slots?orderBy=soonest&locationId=5060&minimum=1')

In [ ]:
times = [time, time2]
times

In [30]:
pdarr = list(map(lambda obj : pd.DataFrame.from_records(obj), iter(times)))

[   locationId    startTimestamp      endTimestamp  active  duration  remoteInd
 0        5360  2022-11-22T17:30  2022-11-22T17:45    True        15      False
 1        5360  2022-11-22T17:45  2022-11-22T18:00    True        15      False
 2        5360  2022-11-22T18:00  2022-11-22T18:15    True        15      False
 3        5360  2022-11-22T18:15  2022-11-22T18:30    True        15      False
 4        5360  2022-11-22T18:30  2022-11-22T18:45    True        15      False
 5        5360  2022-11-22T18:45  2022-11-22T19:00    True        15      False
 6        5360  2022-11-23T16:00  2022-11-23T16:15    True        15      False
 7        5360  2022-11-23T16:15  2022-11-23T16:30    True        15      False
 8        5360  2022-11-23T16:30  2022-11-23T16:45    True        15      False
 9        5360  2022-11-23T16:45  2022-11-23T17:00    True        15      False,
    locationId    startTimestamp      endTimestamp  active  duration  remoteInd
 0        5060  2022-11-21T09:15  2022-11-21T09:30    True        15      False
 1        5060  2022-11-21T09:45  2022-11-21T10:00    True        15      False
 2        5060  2022-11-21T10:00  2022-11-21T10:15    True        15      False
 3        5060  2022-11-21T10:15  2022-11-21T10:30    True        15      False
 4        5060  2022-11-21T10:45  2022-11-21T11:00    True        15      False
 5        5060  2022-11-21T11:15  2022-11-21T11:30    True        15      False
 6        5060  2022-11-21T13:15  2022-11-21T13:30    True        15      False
 7        5060  2022-11-21T13:30  2022-11-21T13:45    True        15      False
 8        5060  2022-11-21T13:45  2022-11-21T14:00    True        15      False
 9        5060  2022-11-21T14:15  2022-11-21T14:30    True        15      False]

In [33]:
dffinal = pd.concat(pdarr)

In [49]:
import datetime

In [75]:
df = dffinal.astype({'startTimestamp':'datetime64[ns]'})

In [76]:
df[df['startTimestamp'] < datetime.datetime(2022, 11, 22)]

,locationId,startTimestamp,endTimestamp,active,duration,remoteInd
0,5060,2022-11-21 09:15:00,2022-11-21T09:30,True,15,False
1,5060,2022-11-21 09:45:00,2022-11-21T10:00,True,15,False
2,5060,2022-11-21 10:00:00,2022-11-21T10:15,True,15,False
3,5060,2022-11-21 10:15:00,2022-11-21T10:30,True,15,False
4,5060,2022-11-21 10:45:00,2022-11-21T11:00,True,15,False
5,5060,2022-11-21 11:15:00,2022-11-21T11:30,True,15,False
6,5060,2022-11-21 13:15:00,2022-11-21T13:30,True,15,False
7,5060,2022-11-21 13:30:00,2022-11-21T13:45,True,15,False
8,5060,2022-11-21 13:45:00,2022-11-21T14:00,True,15,False
9,5060,2022-11-21 14:15:00,2022-11-21T14:30,True,15,False

In [ ]:
pd.to_datetime()

In [63]:
datetime.datetime.strptime(s, '%Y-%m-%dT%H:%M')

datetime.datetime(2022, 11, 22, 17, 30)

In [2]:
try:
    with open('nonexist', 'r') as file:
        print(file.read())
except FileNotFoundError:
    print('notfound')
    print('second line')

notfound
second line